body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.dot {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  border: 1px solid black;
  width: 80px;
  height: 80px;
}
